.testPageCards {
  margin: auto;
  margin-top: 5%;
  background: rgb(68, 94, 240);
  color: white;
}

.testPageCards:hover {
}

.answer {
  padding-left: 0.2em;
}

.testPageContainer {
  display: flex;
  flex-direction: column;
}

#linkShare {
  display: none;
}
.testPageContainer button {
  width: 10vw;
  margin: auto;
  margin-top: 20vh;
  font-size: 1.5em;
}

@media screen and (max-width: 428px) {
  .testPageContainer button {
    width: 35vw;
    margin: auto;
    margin-top: 20vh;
    font-size: 1.5em;
  }
}
