resultCard {
  animation: bgshift 14s linear infinite alternate;
}

@keyframes bgshift {
  0% {
    background-position: top left;
  }
  100% {
    background-position: bottom right;
  }
}

#resultsItems {
  background-color: rgba(255, 255, 255, 0.682) !important;
  display: flex;
  flex-direction: column;
  width: 22vw;
  margin: auto;
  border-radius: 20px;
  backdrop-filter: invert(80%);
  filter: none !important
}

#retakeButton {
  width: fit-content;
  margin: auto;
}

.loadingSvg {
  fill: red;
  padding: auto;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  animation: 3s ease-in svgColorizer infinite;
}

.resultName{
  border: dotted red;
  text-align: center !important;
}

@keyframes svgColorizer {
  0% {
    fill: #013b31;
  }
  25% {
    fill: #378058;
  }
  50% {
    fill: #185a81;
  }
  75% {
    fill: #8a1e5a;
  }
  100% {
    fill: #4d1e20;
  }
}
@media screen and (max-width: 428px) {
  .testPageContainer button {
    width: 35vw;
    margin: auto;
    margin-top: 20vh;
    font-size: 1.5em;
  }
  .mainPageCards:hover {
    transform: none;
  }
  #resultsItems {
    background-color: rgba(255, 255, 255, 0.682) !important;
    display: flex;
    flex-direction: column;
    width: 45vw;
    margin: auto;
    border-radius: 10px;
    backdrop-filter: invert(80%);
    filter: none !important
  }
}