.animaTitle{
    font-size: 40px !important;
    font-family: Julius Sans One ;
    color: rgb(0, 0, 0);
}



.navItems:hover{
    animation: hoverAnimation 4s ease-in-out infinite;
}


.navItemsContainer{
    background-color: rgba(255, 0, 0, 0);
}
.navItemsContainer ul{
    background-color: #00000000;
    color: rgb(0, 0, 0);
}

.animaTitle:hover{
    animation: hoverAnimation 4s ease-in-out infinite;
}
@keyframes hoverAnimation {
    0%{text-decoration: underline solid #4ab5bd}
    25%{text-decoration:underline  solid black;}
    50%{text-decoration: underline solid #4ab5bd}
    100%{text-decoration:underline solid black;}
}