.masterPageContainer {
  background: repeating-radial-gradient(circle, transparent, transparent 3.5px, #474bff 3.5px, #474bff 4.5px), repeating-radial-gradient(circle, transparent, transparent 3.5px, #474bff 3.5px, #474bff 4.5px), #47d3ff;
background-size: 20px 20px;
background-position: 0 0, 10px 10px, 20px 10px;
background-color: #24a95c;
  animation: 14s ease-in createBgColorizer infinite alternate-reverse;
}

.createTestForm {
  padding-top: 10vh;
  margin: auto;
  padding-left: 15vw;
  height: 100vh;
  background-color: white;
  width: 85vw;
}

.createTestForm input {
  width: 45vw;
}

.resultsFormContainer {
  border-top: 2px rgba(0, 0, 0, 0.202) solid;
  display: flex;
  justify-content: space-between;
  padding-top: 2.5vw;
  margin-right: 15vw;
}

.resultsFormContainer input {
  width: 10vw;
  margin-bottom: 2vh;
}

h2 {
  font-weight: 700;
}

.mb-6 h2 {
  border-top: 2px rgba(0, 0, 0, 0.202) solid;
  width: 50vw;
  margin-bottom: 2vh;
  font-weight: 700;
}

.createTestForm h2 {
  font-size: larger;
}

@keyframes createBgColorizer {
  0% {
    background-color: #13742be4;
  }
  25% {
    background-color: #3e99678c;
  }
  50% {
    background-color: #185b817c;
    background-position: 0 0, 25px 30px, 40px 200px;
  }
  75% {
    background-color: #8a1e5977;
  }
  100% {
    background-color: #ce3943;
  }
}
