.masterPageContainer {
  background-color: #ffffff;
  animation: fadeIn ease-in 0.3s;

  height: 90vh;
}

.createPage {
}

.masterPageContainer button {
  width: 15vw;
  margin-left: 35vw;
}

.createTestForm {
  margin: auto;
  padding-left: 0vw;
  height: 80vh;
  padding-top: 8vh;
  padding-bottom: 5vh;
  background-color: rgb(255, 255, 255);
  width: 85vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 18px;
  border: none !important;
  animation: 14s ease-in createBgColorizer infinite alternate-reverse;
  border: dotted blue;
}

.createTestForm input {
  /* border-radius: 4px;
  width: 45vw;
  margin-left: 20vw;
  font-size: 1em;
  margin-top: 5vw;
  background-color: rgba(255, 255, 255, 0.656);
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px black solid; */
}

.createInputFieldContainer {
  height: 50vh;
}

.resultsH2 {
  font-size: 3em !important;
  margin-top: 20vh;
}
.createTestForm input:focus {
  color: #1b5de6;
  outline: none !important;
  border-bottom: #ff7474 2mm solid;
  border-radius: 5px;
  transition: border 0.2s ease-in;
  outline: none;
  box-shadow: none;
}

.customCard {
  /* box-shadow: 1px 1px 10px 1px; */
  height: 60vh;
  right: 2vw;
  border: thick 3em;
  border-radius: 10px;
  animation: linear 4s infinite alternate techBorderizer;
  padding-top: 1vh;
  background: rgba(0, 0, 0, 0.058);
  color: rgb(0, 0, 0);
}

.resultsFormContainer {
  display: flex;
  height: 90vh !important;
  width: 90vw;
  flex-direction: row;
  padding-bottom: 2vh;
  justify-content: space-between !important;
}
.resultInputContainer {
  display: flex;
  flex-direction: row;
  width: 8vw !important;
}

.customCard h3 {
  text-align: center;
  font-size: large;
  font-family: moto-verse;
  padding: 1vh;
}

.placeholderImage {
  height: 40vh;
  width: 100%;
  margin-top: 3vh;
  box-shadow: 1px 5px 18px 2px rgba(0, 0, 0, 0.419);
  /* border-radius: 10px; */
  animation: cardEffect ease-in 4s infinite;
}

#testNameInput input {
  text-align: center;
}
.resultInputContainer {
  width: 4vw !important;
  margin-top: 2vh !important;
  margin: 0;
  opacity: 0;
  margin-left: 2vw;
  transform: translateY(100%);
  transition: transform 0.5s, opacity 0.5s;
}

.customCard:hover .resultInputContainer {
  opacity: 1;
  transform: translateY(0);
}

.resultInputContainer input {
  width: 8vw !important;
  height: 4vh;
  border: none;
  background-color: rgba(180, 180, 180, 0.326);
  border-radius: 5px;
  margin-right: 0.5vw;
  color: rgb(0, 0, 0);
}

.resultInputContainer input::placeholder {
  color: rgb(0, 0, 0);
}

h2 {
  font-weight: 00;
  color: rgba(37, 37, 37, 0.914);
  font-size: 6em !important;
  font-family: "Julius Sans One", sans-serif;
}

.mb-6 h2 {
  border-top: 2px rgba(0, 0, 0, 0.202) solid;
  width: 50vw;
  margin-bottom: 2vh;
  font-weight: 700;
}

.createTestForm h2 {
  font-size: 3em;
  text-align: center;
}

#descriptionInput {
  display: flex;
  flex-direction: column;
  height: 80vh;
  padding-bottom: 2vh;
  margin-top: 10vh;
}
#descriptionInput h2 {
  font-size: 2em !important;
}
#descriptionInput textarea {
  font-size: 1em;
  height: 5vh;
  text-align: start;
  padding: none;
  width: 50%;
  margin: auto;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px black solid;
}

#descriptionInput textarea:focus {
  border-bottom: #ff7474 2mm solid;
  border-radius: 5px;
  transition: border 0.2s ease-in;
  box-shadow: none;
}

#descriptionInput img {
  margin: auto;
  margin-top: 10vh;
  width: 40vw;
}

#imageEffect {
  height: 40vh;
  border-radius: 10px;
  animation: fadeIn ease-in-out infinite;
  animation-direction: alternate;
}

#descriptionInput textarea:nth-of-type(2) {
  font-size: 1em !important;
}

.createTestForm p {
  text-align: center;
  font-size: 2em;
  padding: 1em;
  font-family: "Julius Sans One", sans-serif;
}
#descriptionInput textarea:nth-of-type(2) {
  font-size: 3em;
  height: 10vh;
  text-align: start;
  padding: none;
  width: 50%;
  margin: auto;
}

/* @keyframes createBgColorizer {
  0% {
    box-shadow: 0px 0px 0px 2px #171717e4, 8px 8px 0px 0px #6c6c6c51;
  }
  50% {
    box-shadow: 0px 0px 0px 2px #0000007c, 8px 8px 0px 0px #56565600;
  }
  100% {
    box-shadow: 0px 0px 0px 2px #000000, 8px 8px 0px 0px #7070707a;
  }
} */

@keyframes marginBgColorizer {
  0% {
    background-image: radial-gradient(#474bff 1px, transparent 1px);
    background-position: 2px 2px;
  }
  25% {
    background-image: radial-gradient(#474bff);
  }
  50% {
    background-image: radial-gradient(#474bff);
  }
  75% {
    background-image: radial-gradient(#474bff);
  }
  100% {
    background-image: radial-gradient(#474bff 5px, transparent 11px);
    background-position: 50px 50px;
  }
}

@keyframes cardEffect {
  0% {
    box-shadow: 1px 5px 18px 2px rgba(0, 0, 0, 0.419);
  }
  50% {
    box-shadow: 10px 24px 24px 5px rgba(0, 0, 0, 0.419);
  }
  100% {
    box-shadow: 1px 5px 18px 2px rgba(0, 0, 0, 0.419);
  }
}
