.homePageContainer {
  position: relative;
  display: flex;
  align-items: column;
  height: 90.5vh; /* Use viewport height for better sizing */
  width: 90vw;
  animation: fadeIn 1.5 ease-in;
  background-color: #ffffff;
}

.homePageContainer img {
  padding-right: 10vw;
  padding-top: 3vw;
  margin-left: 50%;
  position: absolute;
  filter: blur(0.5px);
  height: 90vh;
}

.homePageContainer p {
  color: rgb(97, 96, 96);
  font-size: 2.5rem;
  font-weight: lighter;
  text-shadow: none;
  -webkit-text-fill-color: rgb(97, 96, 96) !important;
}

.homePageContainer a {
  font-weight: lighter;
  color: rgb(97, 96, 96);
  font-size: 5em !important;
  padding-left: 12vw;
  padding-top: 10%;
  width: 50vw;
  text-shadow: none;
}

.typeFont {
  animation: fontChanger 14s infinite ease-in;
  padding-left: 2vw;
}

@keyframes fontChanger {
  0% {
    color: #0d7252;
    font-family: "Techovier";
  }
  30% {
    color: #52bba0;
    font-family: "Techovier";
  }
  40% {
    color: #3bb7d6;
  }
  45% {
    font-family: "moto-verse";
    color: #e39bb7;
  }
  95% {
    font-family: "moto-verse";
    color: #ca4444fe;
  }
  100% {
    font-family: "moto-verse";
    color: #cf3737fe;
  }
}
