.homePageContainer {
  position: relative;
  display: flex;
  align-items: column;
  height: 90.5vh; /* Use viewport height for better sizing */
  animation: fadeIn 1.5 ease-in;
  background-color: #ffffff0a;
}

.homePageContainer img {
  padding-top: 3vw;
  margin-left: 50%;
  position: absolute;
  filter: blur(0.5px);
  height: 90vh;
}

.homePageContainer p {
  color: rgb(0, 0, 0);
  font-size: 2.5rem;
  font-weight: lighter;
  text-shadow: none;
  -webkit-text-fill-color: rgb(97, 96, 96) !important;
}

.homePageContainer a {
  font-weight: lighter;
  color: rgb(0, 0, 0);
  font-size: 5em !important;
  padding-left: 12vw;
  padding-top: 10%;
  width: 50vw;
  text-shadow: none;
}

.typeFont {
  animation: fontChanger 14s infinite ease-in;
  padding-left: 2vw;
  font-weight: bolder;
}

@keyframes fontChanger {
  0% {
    color: #023B30;
    /* font-family: "Techovier"; */
  }
  30% {
    color: #3B8057;
    /* font-family: "Techovier"; */
  }
  40% {
    color: #3397B6;
  }
  45% {
    /* font-family: "moto-verse"; */
    color: #863969;
  }
  95% {
    /* font-family: "moto-verse"; */
    color: #E84941;
  }
  100% {
    /* font-family: "moto-verse"; */
    color: #9A4133;
  }
}

@media screen and (max-width: 428px) {
  .homePageContainer img {
    margin-top: 3vh;
    margin-left: 0%;
    position: absolute;
    filter: blur(1px);

    z-index: -1;
  }

  .homePageContainer a {
    margin-top: 15vh;
    font-weight: bold;
    color: rgb(0, 0, 0);
    padding-left: 12vw;
    padding-top: 10%;
    width: 80vw;
    text-shadow: rgb(255, 255, 255) 2px 0 4px;
    text-align: center;
  }
  .homePageContainer p {
    color: rgb(199, 198, 198);
    font-size: 1.5rem;
    font-weight: bold;
    -webkit-text-fill-color: rgb(0, 0, 0) !important;
    text-shadow: rgb(255, 255, 255) 2px 0 4px;
    text-align: center;
  }
}
